<a routerLink="/list" routerLinkActive="active"><ngb-carousel class="banner">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/slider1.webp" alt="Random first slide" class="slide-img">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/slider2.webp" alt="Random second slide"class="slide-img">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/images/slider3.webp" alt="Random third slide"class="slide-img">
      </div>
    </ng-template>
  </ngb-carousel>
  <mat-card class="display">
    <div class="display-header">
      <div class="display-header-content">
        <h1>Deals of the Day</h1>
        <p> </p>
      </div>
      <button mat-raised-button color="primary" class="view">VIEW ALL</button>
    </div>
    <hr>
    <div class="display-content">
      <div class="item">
        <img src="../../assets/images/item7.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item2.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item3.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item4.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item5.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item6.jpeg" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
    </div>
    
  </mat-card>
  <mat-card class="display">
    <div class="display-header">
      <div class="display-header-content">
        <h1>Trending Offers</h1>
        <p></p>
      </div>
      <button mat-raised-button color="primary" class="view">VIEW ALL</button>
    </div>
    <hr>
    <div class="display-content">
      <div class="item">
        <img src="../../assets/images/item13.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item14.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item15.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item16.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item17.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item18.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
    </div>
    
  </mat-card>
  <mat-card class="display">
    <div class="display-header">
      <div class="display-header-content">
        <h1>Best Battery Phones</h1>
        <p>More than 4000mAh</p>
      </div>
      <button mat-raised-button color="primary" class="view">VIEW ALL</button>
    </div>
    <hr>
    <div class="display-content">
      <div class="item">
        <img src="../../assets/images/item1.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item8.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item9.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item10.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item11.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
      <div class="item">
        <img src="../../assets/images/item12.webp" alt="logo" class="item-img">
        <p>Tecno Comon 15pro</p>
        <p class="ash">4000 mAh Battery</p>
        <p class="green">₹ 18,000</p>
      </div>
    </div>
    
  </mat-card></a>